
<div class = "container">
  <h1>Stupid Coach</h1>
  <div class = "convo">
    <p><%= params[:question] %> </p>
    <p>-You</p>
  </div>
  <br>
  <div class = "answer">
    <p> <%= @answer %></p>
    <p>-Your Coach</p>
  </div>
</div>
